// General code

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 1.5s;
}
body {
    width: 100%;
    height:100vh;
    background-color: #0D1117   
}

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


// Image
form {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -30%);
    input {
        padding: 15px 25px;
        border-radius: 50px;
        border: 1px solid #177171;
        outline: none;
        background-color: rgb(240,246,252);
        width: 380px;
        height: 80px;
        font-size: 1rem;
        color: #8B949E;
    }
    button {
        border: none;
        border-radius: 50%;
        background-color: #fdfdf1;
        color: #282828;
        padding: 10px;
        width: 80px;
        height: 80px;
        cursor: pointer;
        font: {
            size: 1.1rem;
            weight: 600;
            family:"Lato", sans-serif;
        }
    }
}
.container {
    max-width: 1140px;
    margin: auto;
   margin-top: 200px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

}
.imgS {
    width: 33%;
    margin: 10px;
    border-radius: 8px;
}
// loading
.loading {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2852E1;
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h4 {
            font-size: 2rem;
            color: #f2f2fd;
            font-weight: 500;
            font-family: "Lato", sans-serif;
            display: inline-block;
        }
        .first {
            animation-name: first;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
        @keyframes first {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-5px);
            }
            0% {
                transform: translateY(0px);
            }
        }
        .second {
            animation-name: second;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-delay: 0.7s;
        }
        @keyframes second {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-5px);
            }
            0% {
                transform: translateY(0px);
            }
        }
        .third {
            animation-name: third;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-delay: 1s;
        }
        @keyframes third {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-6px);
            }
            0% {
                transform: translateY(0px);
            }
        }
    }
}

// Class for js
.showLoader {
    display: block ;
}
.overflowH {
    overflow: hidden;
}
.imgS {
    // z-index: 99;
    cursor: pointer;
    transition: all 0.3s;
}
.imgS:hover {
    box-shadow: 0 0 15px #fdfcee;
}
.liked {
    color: red !important;
    transition: all 0.8s;
    z-index: 1;
}
.like {
    transition: all 0.8s;
    color: #f2f2fd;
    font: {
        size: 2rem;
    }
    transform: translate(-400%, 680%);
    z-index: -1;
}
.like__hover {
    transform: translate(-400%, 680%);
    z-index: 1;
    font-size: 2rem !important;
}
.img__hover {
    transition: all 0.5s;
    filter: contrast(0.4);
}